<app-main-layout>
  <h1 class="text-center text-[3rem] my-[3rem] font-bold">Trang này chỉ có admin mới vào được</h1>
  <button (click)="logout()" class="w-max cursor-pointer mx-auto mt-[1rem] text-[1.6rem] bg-[#000] text-center block text-white py-[0.5rem] px-[1.5rem]
     rounded-[1rem] hover:text-black hover:bg-[#fff] border border-solid border-[#fff] hover:border-[#000]">
    Đăng xuất
  </button>
</app-main-layout>
