<header class="bg-[rgba(0,0,0,0.7)] w-full text-white py-[1.2rem]">
  <ul class="link container mx-auto flex justify-between text-[1.2rem]">
    <li class="left flex gap-[1.5rem]">
      <a class="text-[1.5rem] cursor-pointer capitalize" routerLink="/bai1" routerLinkActive="active"
         ariaCurrentWhenActive="page">
        fpoly product mangager
      </a>
      <a class="text-[1.5rem] cursor-pointer capitalize text-[rgba(255,255,255,0.5)]" routerLink="/"
         routerLinkActive="active"
         ariaCurrentWhenActive="page">
        home
      </a>
      <a class="text-[1.5rem] cursor-pointer capitalize text-[rgba(255,255,255,0.5)]" routerLink="/product"
         routerLinkActive="active"
         ariaCurrentWhenActive="page">
        productDetail-1
      </a>
      <a class="text-[1.5rem] cursor-pointer capitalize text-[rgba(255,255,255,0.5)]" routerLink="/bai2"
         routerLinkActive="active"
         ariaCurrentWhenActive="page">
        product list
      </a>
    </li>
    <li class="right">
      <div class="relative inline-block text-left">
        <button type="button"
                class="inline-flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-gray-700 border border-transparent rounded-md hover:bg-gray-800 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
          Manager
          <svg class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               aria-hidden="true">
            <path fill-rule="evenodd" d="M6 6L10 10L14 6H6Z" clip-rule="evenodd"/>
          </svg>
        </button>

        <div
          class="absolute right-0 w-48 mt-2 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <a routerLink="/login" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
             id="menu-item-0">Login</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
             id="menu-item-1">Cart</a>
        </div>
      </div>
    </li>
  </ul>
</header>
