<app-main-layout>
  <div class="container">
    <h1 class="font-bold text-[2rem]">{{product.productName}}</h1>
    <div class="img-centered mt-[2rem] mx-auto flex items-center gap-[20rem] bg-[rgba(0,0,0,0.1)] p-[1rem] rounded justify-center">
      <div class="left flex gap-[2rem] text-[1.4rem]">
        <div class="">
          <div class="">Name:</div>
          <div class="">Code:</div>
          <div class="">Description:</div>
          <div class="">Availability:</div>
          <div class="">Price:</div>
          <div class="">5 star rating:</div>
        </div>
        <div class="">
          <div class="">{{product.productName}}</div>
          <div class="">{{product.productCode}}</div>
          <div class="">{{product.description}}</div>
          <div class="">{{product.releaseDate}}</div>
          <div class="">{{product.price}}</div>
          <app-star [rating]="product.starRating"></app-star>

        </div>
      </div>
      <div class="right">
        <img [src]="product.imageUrl" alt="">
      </div>
    </div>
    <a routerLink="/bai2" class="back font-bold text-[1.4rem] block mx-auto w-max mt-[1rem]">
      <i class="fa-solid fa-arrow-left"></i>
      Back
    </a>
  </div>
</app-main-layout>
