<app-main-layout>
  <div class="container">
    <h1 class="text-[2rem] text-center my-[1rem] font-bold">Home</h1>
    <div class="img-centered mx-auto relative w-[50%] h-auto min-h-[35rem]">
      <img ngSrc="assets/images/cat.jpg" alt="" fill>
    </div>
  </div>
</app-main-layout>
