<app-main-layout>

  <div class="container mx-auto">
    <h1 class="heading text-center text-[2rem] my-[2rem] font-bold">Đăng nhập</h1>
    <button (click)="login()" class="w-max cursor-pointer mx-auto mt-[1rem] text-[1.6rem] bg-[#000] text-center block text-white py-[0.5rem] px-[1.5rem]
     rounded-[1rem] hover:text-black hover:bg-[#fff] border border-solid border-[#fff] hover:border-[#000]">
      Đăng nhập vào admin
    </button>
  </div>

</app-main-layout>
